@model IEnumerable<VacationTracker.Models.Location>

@{
    ViewData["Title"] = "My Locations";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Add a Location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Location Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
